<!-- REPORT TEMPLATE -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="report.css" rel="stylesheet">
  <title>Natural Capital Research Baseline Assessment</title>
  <meta name="description" content="Baseline Report">
  {% include 'sections/style1.jinja' %}
</head>
<body>
  
   <!-- 
    MAIN COVER PAGE
  -->
  {%include 'sections/cover.jinja'%}
  <p style="page-break-before: always"></p>
  <!-- 
    YOUR BASELINE AND ABOUT NCR
  -->

</body>
</html>