<section>
    <h1>Your natural capital baseline</h1>
    <p>An effective environmental and biodiversity programme must be built on the strongest possible evidence. We are
      delighted to provide you with that.</p>
    <p>With this assessment, you have a rock-solid baseline of your environmental assets, based on the best science. As
      well as gaining a vital tool to manage grants and comply with regulation, you have the starting point for future
      enhancements to your natural capital.</p>
    <p>Now you have this baseline, you can regularly measure and report on progress on your enhancement activity,
      confident in the accuracy of your data. It can also be used to explore and plan for a range of alternative
      enhancement options, re-running baselines to see what difference they could make to specific land areas or the
      wider land context.</p>
    <p>Our team at Natural Capital Research can lead you through this process, helping you plan towards biodiversity net
      gain and net zero carbon targeting. We would be delighted to support you further to profit from these new
      opportunities in land management, and help you explore your own options.</p>
    <p>Thank you for commissioning this baseline assessment from us, and taking this important first step towards better
      environmental business planning. We look forward to helping you further on this journey, and would be happy to
      discuss further. You can contact us at info@natcapresearch.com at any time.</p>
    <h1>About natural capital research</h1>
    <p>At NCR we help our clients to measure their natural capital, enhance its value and monitor changes in the
      baseline over time.</p>
    <p>Natural Capital Research builds on the extensive expertise of the core team led by Prof. Kathy Willis. The team's in-depth knowledge covers all aspects of the natural capital agenda, from spatial and
      analytical modelling, to establishing a natural capital baseline, to advising on enhancements and valuation of
      natural capital assets. This knowledge and experience has been leveraged to deliver top quality, scientifically
      rigorous, and unstintingly evidence-based outputs – outputs that have already been tested in the field by official
      bodies, shareholders, stakeholders, investors and environmental groups throughout the world.</p>
    <p>NatCap Research Ltd. (https://www.natcapresearch.com/) was established in 2018 and since this time we have
      established a strong client base across sectors including the water industry, land management, agriculture,
      infrastructure development, and national parks. These engagements invariably start with the delivery of baseline
      natural capital assessments into projects such as those associated with Environmental Land Management schemes
      (ELMs).</p>
  </section>