<section>
    <h1 id="chapter6">Appendix {{getappendixnumber()}}: Detailed results – ecosystem service flows</h1>
    {% include 'sections/tables/b1.jinja' %}
    {% include 'sections/tables/b2.jinja' %}
    {% include 'sections/tables/b3.jinja' %} 
    {% include 'sections/tables/b4.jinja' %} 
    {% include 'sections/tables/b5.jinja' %}
    {% include 'sections/tables/b6.jinja' %}
  </section>