<section id="cover">
    <div id="logobox">
      <img id="logo" class="" src="images/natcap-logo.png" />
    </div>
    <div id="titlebox">
      <div class="reporttitle">{{report_title}}</div>
      <div class="reportdate">{{report_date}}</div>
    </div>
</section>