<section>
    <h1>Disclaimer and copyright</h1>
    <p>The Information has been provided to the Client at their request for discussion purposes only. Any assumptions,
      opinions, and estimates expressed in the information constitute Natural Capital Research's judgement as of the
      date thereof and are subject to change without notice. The proposed approach and methodology are protected by
      copyright and no part of this document may be copied or disclosed to any third party, either before or after the
      contract is awarded, without the written consent of Natural Capital Research Ltd.</p>
    <p>The Client acknowledges that the advice provided under this agreement by Natural Capital Research is at all times
      independent, and Natural Capital Research shall not be required to advance the interests of the Client, or engage
      in lobbying or any similar activities.</p>
    <p>The Client agrees that the advice provided by Natural Capital Research is for their internal use only and that it
      will not be placed in the public domain without Natural Capital Research's written permission. Natural Capital
      Research accepts no liability for advice given hereunder.</p>
    <p>Natural Capital Research has compiled the Data from sources believed to be reliable and will make reasonable
      efforts to ensure the accuracy and reliability of the information. However, Natural Capital Research makes no
      warranty, express or implied, that the Data is accurate, complete, correct, free of errors or suitable for the
      Client’s business. The
      Data is presented “as is” and should not be used in substitution for the Client’s own independent investigations
      and sound judgement. The Data does not constitute nor should be considered as advice or a recommendation to
      dispose of or acquire any investment or to engage in any transaction.</p>
    <p>All warranties, representations, conditions and all other terms of any kind whatsoever implied by statute or
      common law are, to the fullest extent permitted by applicable law, excluded from these Natural Capital Research
      Terms and any Contract. In particular, Natural Capital Research does not warrant or guarantee any potential
      outcome in forecasting
      or modelling future events provided as part of the Services or any opinion, advice or recommendations or the
      contents of any Report or Data. The Client acknowledges that its use of any recommendations, Data, Report,
      forecast or other document prepared, provided, made or written by Natural Capital Research, any advice or opinion
      given by Natural Capital Research or the results of the work undertaken by Natural Capital Research will be at its
      own discretion and that the Client must exercise its own judgement in using or acting on any such advice and
      complying with applicable legislation and regulations.</p>
  </section>