<section>
    <h2>Introduction</h2>
    <p>Natural capital can be simply described as the aspects of nature (e.g. species, habitats, communities, soils
      etc.) that provide key ecosystem services underpinning important public goods or benefits (Figure 1).</p>
    <p>We divide natural capital into three categories; stocks, flows and public goods. A stock is the extent and
      condition of a natural resource – what is on the ground, how much of it there is and of what quality. A flow is
      derived from the stock and provides societal benefits, such as important public goods and services.</p>
    <div class="imagebox">
      <img src="images/schematic.png" class="fullwidth" /> 
    </div>
    <p>Figure 1. Schematic to show examples of the relationship between natural capital assets (stocks), ecosystem
      services (flows) and societal benefits (public goods and services)</p>
    <p>This report will show you what natural assets have been found in your chosen area, where they have been found,
      and in what quantity, to provide information that can be placed in an asset register. The report provides you with
      an estimate of the natural capital stocks of:</p>
    <ul>
      <li>Landcover</li>
      <li>Forest, woodland, tree and hedge composition (height)</li>
      <li>Topographical variation of the land (elevation and slope)</li>
      <li>Water and wetlands</li>
      <li>Soil type</li>
    </ul>
    <p>The report also provides you with estimates of the following ecosystem services that these assets provide:</p>
    <ul>
      <li>Carbon storage</li>
      <li>Carbon sequestration</li>
      <li>Soil erosion prevention</li>
      <li>Flood risk reduction</li>
      <li>Recreation</li>
      <li>Pollination</li>
      <li>Important biodiversity habitats</li>
      <li>Nature networks</li>
    </ul>
    <p>This report details the data used by Natural Capital Research Ltd to calculate these ecosystem services and
      establishes an asset register. The following sections present our findings on the stocks and flows relating to
      your chosen report area. We provide a series of maps and tables to illustrate how the various stocks and flows
      are distributed, and a summary heatmap to help you understand where in your chosen report area multiple
      overlapping ecosystem services occur.</p>
    <p>The information below provides a critical evidence base for determining where to protect natural capital and
      where the maximum benefits from the ecosystem services are being provided. It also serves as an important baseline
      document showing areas with potential for income when a system of payment of ‘public money for public goods’ is
      implemented.</p>
  </section>