<section>
    <h1 id="chapter8">Appendix {{getappendixnumber()}}: References</h1>
    <ul>
      <li>Aizen, M. A., Garibaldi, L. A., Cunningham, S. A. and Klein, A. M. (2009) &lsquo;How much does agriculture depend on pollinators? Lessons from long-term trends in crop production&rsquo;, Annals of botany, 103(9), pp. 1579&ndash;1588.</li>
      <li>Alonso, I., Weston, K., Gregg, R. and Morecroft, M. (2012) &lsquo;Carbon storage by habitat: Review of the evidence of the impacts of management decisions and condition of carbon stores and sources.&rsquo;, Natural England Research Reports, Number NERR04, 17(10), pp. 55&ndash;59.</li>
      <li>Axe, M. S., Grange, I. D. and Conway, J. S. (2017) &lsquo;Carbon storage in hedge biomass&mdash;A case study of actively managed hedges in England&rsquo;, Agriculture, Ecosystems and Environment, 250, pp. 81&ndash;88.</li>
      <li>Ballabio, C., Panagos, P. and Monatanarella, L. (2016) &lsquo;Mapping topsoil physical properties at European scale using the LUCAS database&rsquo;, Geoderma, 261, pp. 110&ndash;123.</li>
      <li>Baude, M., Kunin, W. E., Boatman, N. D., Conyers, S., Davies, N., Gillespie, M. A. K., Morton, R. D., Smart, S. M. and Memmott, J. (2016) &lsquo;Historical nectar assessment reveals the fall and rise of floral resources in Britain&rsquo;, Nature, 530(7588), pp. 85&ndash;88.</li>
      <li>Bieger, K., Arnold, J. G., Rathjens, H., White, M. J., Bosch, D. D., Allen, P. M., Volk, M. and Srinivasan, R. (2017) &lsquo;Introduction to SWAT+, A Completely Restructured Version of the Soil and Water Assessment Tool&rsquo;, JAWRA Journal of the American Water Resources Association, 53(1), pp. 115&ndash;130.</li>
      <li>BlueSky Ltd (2020) National Tree Map. <br /> Available at: https://www.bluesky-world.com/</li>
    <li>Climate Forecast System Reanalysis (CFSR). Weather Data. <br /> Available at: https://climatedataguide.ucar.edu/climate-data/climate-forecast-system-reanalysis-cfsr</li>
    <li>Coomes, D. A., Dalponte, M., Jucker, T., Asner, G. P., Banin, L. F., Burslem, D. F. R. P., Lewis, S. L., Nilus, R., Phillips, O. L., Phua, M. H. and Qie, L. (2017) &lsquo;Area-based vs tree-centric approaches to mapping forest carbon in Southeast Asian forests from airborne laser scanning data&rsquo;, Remote Sensing of Environment, 194, pp. 77&ndash;88.</li>
    <li>Copernicus (2018a) Corine Land Cover (CLC) Map. Version 20b2. <br /> Available at: https://land.copernicus.eu/pan-european/corine-land-cover/clc2018</li>
    <li>Copernicus (2018b) European Digital Elevation Model (EU-DEM), version 1.1. <br /> Available at: https://land.copernicus.eu/imagery-in-situ/eu-dem/eu-dem-v1.1?tab=download</li>
    <li>Cranfield University (2020) National Soil Map of England and Wales - NATMAP, LandIS - Land Information System. <br /> Available at: http://www.landis.org.uk/data/natmap.cfm</li>
    <li>European Space Agency (ESA) (2016) Copernicus Sentinel-2 mission. Level 2-A data. <br /> Available at: https://sentinel.esa.int/web/sentinel/missions/sentinel-2</li>
    <li>European Space Agency (ESA) (2016) Fractional vegetation cover from Sentinel-2. <br /> Available at: https://sentinel.esa.int/web/sentinel/news/content/-/asset_publisher/BZewkR1itkH2/content/fractional-vegetation-cover-from-sentinel-2</li>
    <li>ESDBv2 Raster Library (2006) A set of rasters derived from the European Soil Database distribution v2.0 (published by the European Commission and the European Soil Bureau Network, CD-ROM, EUR 19945 EN).</li>
    <li>FAO and ITPS. 2018. Global Soil Organic Carbon Map (GSOCmap). <br /> Available at: http://www.fao.org/global-soil-partnership/pillars-action/4-information-and-data-new/global-soil-organic-carbon-gsoc-map/en/</li>
    <li>Flickr API [Online] https://www.flickr.com/services/api/</li>
    <li>Forestry Commission (2019) National Forest Estate Ownership (England and Scotland). <br /> Available at: https://data.gov.uk/dataset/55e15503-623b-49ca-bc3c-454ae9343893/national-forest-estate-ownership-scotland-2019</li>
    <li>Forestry Commission (2020) Woodland Carbon Code (WCC) Carbon Lookup Tables v2.3. <br /> Available at: https://www.woodlandcarboncode.org.uk/</li>
    <li>God&iacute;nez-G&oacute;mez, O. and Correa Ayram C.A. (2020) Makurhini R package: Analyzing landscape connectivity.</li>
    <li>Hiederer, R. (2013) Mapping Soil Properties for Europe-Spatial Representation of Soil Database Attributes, Luxembourg: Publications Office of the European Union.</li>
    <li>Klein, A. M., Vaissi&egrave;re, B. E., Cane, J. H., Steffan-Dewenter, I., Cunningham, S. A., Kremen, C. and Tscharntke, T. (2007) &lsquo;Importance of pollinators in changing landscapes for world crops&rsquo;, Proceedings of the Royal Society B: Biological Sciences, 274(1608), pp. 303&ndash;313.</li>
    <li>Levatich T, Ligocki S (2020). EOD - eBird Observation Dataset. Cornell Lab of Ornithology. Occurrence dataset. <br /> Available at: https://doi.org/10.15468/aomfnb</li>
    <li>Lilly, A., Baggaley, N. and Donnelly, D. (2012) &lsquo;Map of soil organic carbon in top soils of Scotland. Map prepared for EU project GS-SOIL -Assessment and strategic development of INSPIRE compliant Geodata-Services for European Soil Data. ECP-2008- GEO-318004.&rsquo;</li>
    <li>Lonsdorf, E., Kremen, C., Ricketts, T., Winfree, R., Williams, N. and Greenleaf, S. (2009) &lsquo;Modelling pollination services across agricultural landscapes&rsquo;, Annals of Botany, 103(9), pp. 1589&ndash;1600.</li>
    <li>Natural England (2020) Ancient Woodlands. <br /> Available at: https://naturalengland-defra.opendata.arcgis.com/datasets/ancient-woodland-england</li>
    <li>Natural England (2020) Priority Habitat Inventory. <br /> Available at: https://data.gov.uk/dataset/4b6ddab7-6c0f-4407-946e-d6499f19fcde/priority-habitat-inventory-england</li>
    <li>Natural Resources Wales (2020) Ancient Woodlands. <br /> Available at: https://naturalresources.wales/about-us/our-projects/nature-projects/life-n2k-wales/life-n2k-films/ancient-woodlands/?lang=en</li>
    <li>National River Flow Archive (2020) Daily riverfall data. <br /> Available at: https://nrfa.ceh.ac.uk/content/uk-water-resources-portal</li>
    <li>Ordnance Survey Zoomstack (2020) Surface water bodies and rivers. <br /> Available at: https://osdatahub.os.uk/downloads/open/OpenZoomstack?_ga=2.28235900.1798010300.1606921869-787398462.1605613285</li>
    <li>Panagos, P., Meusburger, K., Ballabio, C., Borrelli, P. and Alewell, C. (2014) &lsquo;Soil erodibility in Europe: A high-resolution dataset based on LUCAS&rsquo;, Science of the Total Environment, 479&ndash;480(1), pp. 189&ndash;200.</li>
    <li>Liley, D., Panter, C., Caals, Z and Sanders, P. (2019) Recreation use of the New Forest SAC/SPA/Ramsar: New Forest visitor survey 2018/19. Unpublished report by Footprint Ecology.</li>
  </ul>
  </section>