<section>
    <h1 id="summary">Summary</h1>
    <p>Natural Capital Research carried out this baseline assessment as of {{report_date}}, using our unique
      NatCap Map tool. It provides you with a critical evidence base for determining where to protect your natural
      capital and where there may be potential for income.</p>
    <p>Using the highest data standards, the following summary assessment comprehensively maps the type and extent of
      the different natural capital stocks on your land, and provides you with estimates of the ecosystem services they
      provide. With this up-to-date baseline register, you have a starting point for planning future land management,
      natural capital enhancement and improvements and revenue generation.</p>
  </section>