<section>
    <h1>Report contents</h1>
    <ul class="toc">
      <li><a href="#summary" class="toctext"> </a> <a href="#summary" class="tocpagenr"> </a></li>
      <li><a href="#chapter1" class="toctext"> </a> <a href="#chapter1" class="tocpagenr"> </a></li>
      <li><a href="#chapter2" class="toctext"> </a> <a href="#chapter2" class="tocpagenr"> </a></li>
      <li><a href="#chapter3" class="toctext"> </a> <a href="#chapter3" class="tocpagenr"> </a></li>
      <li><a href="#chapter4" class="toctext"> </a> <a href="#chapter4" class="tocpagenr"> </a></li>
      <li><a href="#chapter5" class="toctext"> </a> <a href="#chapter5" class="tocpagenr"> </a></li>
      <li><a href="#chapter6" class="toctext"> </a> <a href="#chapter6" class="tocpagenr"> </a></li>
      <li><a href="#chapter7" class="toctext"> </a> <a href="#chapter7" class="tocpagenr"> </a></li>
      <li><a href="#chapter9" class="toctext"> </a> <a href="#chapter9" class="tocpagenr"> </a></li>
    </ul>
  </section>