<section>
    <h2 id="chapter4">Section {{getsectionnumber('section')}}: What could I do next?</h2>
    <p>This report details the stocks and flows in your chosen report area. This is the baseline of the current situation. Building on this baseline you can now determine:</p>
    <ol>
      <li>Where to enhance your natural capital assets (e.g. through land management changes) to increase the ecosystem service provision and related societal benefits from your land.</li>
      <li>The value of your natural capital assets and the worth of enhancements.</li>
    </ol>
    <p><strong>Report: Re-run this report at regular intervals to demonstrate the scale and effectiveness of your natural capital enhancements.</strong></p>
    <p>If you require any information on developing the steps above please do get in touch - info@natcapresearch.com.</p>
  </section>