<section>
    <h3>{{ getsectionnumber('subsection') }} Elevation</h3>
    <img class="map" src="/tmp/elevation.jpg" />
    {% set message = 'Map ' +  getmapnumber('new') + '.' %}
    {{label(message,'Elevation (metres above sea level)')}}
  </section>
