<section>
    <h2 id="chapter3">Section {{ getsectionnumber('section') }}: Heatmap of combined ecosystem service flows</h2>
    <p>A second key element of the report is a summary heatmap. By showing where you have the largest concentrations of
      ecosystem service flows, it provides key data for assessing where to concentrate enhancement efforts and how to
      optimise your natural capital development strategy.</p>
    <img class="map" src="/tmp/heatmap.jpg" />
    <p>The following pages provide you with a breakdown of the individual underlying factors that make up your baseline
      assessment. Each of the following sections present the full data behind those two summary reports above. Each
      section of the report and each map gives you a full set of proof points and measurements, allowing you to present
      your environmental record, confidently and credibly, to government, stakeholders, markets, investors,
      special-interest groups and others.</p>
    <p>They also provide you with the platform for your next steps on enhancing and improving your natural capital
      assets. If you would like further guidance on this, or more information on this report, we would be very pleased
      to help. You can contact us at info@natcapresearch.com.</p>
  </section>