
  <section>
    <h3>{{ getsectionnumber('subsection') }} Slope</h3>
    <img class="map" src="/tmp/slope.jpg" />
    {% set message = 'Map ' +  getmapnumber('new') + '.' %}
    {{label(message,'Slope (%)')}}
  </section>