
  <section>
    <h3>1.7 Soil type</h3>
    <p>Map 8 illustrates the spatial distribution of the different soil types in your chosen report area[6].</p>
    <img class="map" src="/tmp/soiltypes.jpg" />
    {{label('Map 8.','Soil types')}}
  </section>